<div id="_emoticonList" class="emoticonList toolTip toolTipWhite mainContetTooltip"
     style="opacity: 1; z-index: 1002; top: 290px; left: 160px; display: none;" role="tooltip">
  <div class="_cwTTTriangle toolTipTriangle toolTipTriangleWhiteBottom" style="left: 129px;"></div>
  <ul id="_emoticonGallery" class="emoticonGallery clearfix" onmouseout="updateBottomDefault(this)">
    <li onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)" >
      <img src="/user/images/emo_smile.gif" title="微笑" alt="(:a)">
    </li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_sad.gif" title="悲伤" alt="(:b)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_more_smile.gif" title="大笑" alt="(:c)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_lucky.gif" title="太好啦" alt="(:d)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_surprise.gif" title="吃惊" alt="(:e)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_wink.gif" title="眨眼" alt="(:f)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_tears.gif" title="哭" alt="(:g)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_sweat.gif" title="汗" alt="(:h)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_mumu.gif" title="嗯..." alt="(:i)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_kiss.gif" title="亲亲" alt="(:j)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_tongueout.gif" title="傻瓜" alt="(:k)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_blush.gif" title="害羞" alt="(:l)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_wonder.gif" title="什么什么？" alt="(:m)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_snooze.gif" title="困" alt="(:n)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_love.gif" title="恋爱" alt="(:o)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_grin.gif" title="不出声的笑" alt="(:p)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_talk.gif" title="说话" alt="(:q)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_yawn.gif" title="打呵欠" alt="(:r)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_puke.gif" title="吐" alt="(:s)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_ikemen.gif" title="帅哥" alt="(:t)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_otaku.gif" title="宅男宅女" alt="(:u)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_ninmari.gif" title="得意地笑" alt="(:v)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_nod.gif" title="点头" alt="(:w)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_shake.gif" title="摇头" alt="(:x)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_wry_smile.gif" title="苦笑" alt="(:y)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_whew.gif" title="松口气" alt="(:z)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_clap.gif" title="鼓掌" alt="(:A)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_bow.gif" title="鞠躬" alt="(:B)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_roger.gif" title="知道啦！" alt="(:C)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_muscle.gif" title="肌肉" alt="(:D)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_dance.gif" title="跳舞" alt="(:E)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_komanechi.gif" title="摇滚！" alt="(:F)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_devil.gif" title="恶魔" alt="(:G)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_star.gif" title="星星" alt="(:H)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_heart.gif" title="爱心" alt="(:I)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_flower.gif" title="花" alt="(:J)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_cracker.gif" title="爆竹" alt="(:K)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_cake.gif" title="蛋糕" alt="(:L)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_coffee.gif" title="咖啡" alt="(:M)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_beer.gif" title="啤酒" alt="(:N)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_handshake.gif" title="握手" alt="(:O)"></li>
    <li  onclick="addEmoticonToMessage(this)" onmouseover="updateBottom(this)"><img src="/user/images/emo_yes.gif" title="好的" alt="(:P)"></li>
  </ul>
  <div id="_emoticonDescription" class="tooltipFooter">请选择表情</div>
</div>