<%= render :partial => "user_task_top" %>
<div class="pgtitle clearfix">
  <h2 class="h2_title">未完成の任務一覧</h2>
</div>
<%= render :partial => 'user_task_list_form' %>
<script type="text/javascript">
    $('show_user_task').style.display = '';
</script>