<div class="pgtitle">
  <h2 class="h2_title">確認用メール送信</h2>
  <hr class="cb"/>
</div>
<div align="center">
  <p class="mt20 mb20"><%= params[:email] %> にパスワード変更の確認メールを送信しました。<br/>
    メールに記載されているURLをクリックすると、新しいパスワードを再発行します。 </p>
  <%= link_to "ユーザー情報一覧", :action => "list" %>
</div>